main{
    text-align: center;
}

#cuerpoCalculadora{
    background-color: grey;
    width: 240px;
    margin: 0 auto;
}

#display    {
    text-align: right;
    height: 30px;
    width: 235px;
}

.botones{
    width: 60px;
    height: 50px;
}
